.btn-booking {
	color: white;
	background-color: #2263e5;
	padding: 10px 15px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.btn-booking:hover {
	color: black;
}


.btn-service {
	color: black;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	margin: auto;
}

.btn-service:hover {
	color: white;
}	

